.Resume {
    .inner {
        position: relative;
        

        .whole {
            display: flex;
            gap: 30px;

            .left {
                position: sticky;
            }            

            .right {
                h3 {
                    font-size: 53px;
                    font-weight: 800;
                    color: aliceblue;
                }

                p {
                    font-size: 21px;
                }
            }
        } 
        }



      
    }
