.Resume {
    .inner {
        position: relative;
        

        .whole {
            display: flex;
            gap: 30px;

            .left {
                position: sticky;
            }            

            .right {
                
            }
        } 
        }



      
    }
